<p id="notice"><%= notice %></p>

<p>
  <strong>Front:</strong>
  <%= @front_stuff.front %>
</p>

<%= link_to 'Edit', edit_front_stuff_path(@front_stuff) %> |
<%= link_to 'Back', front_stuffs_path %>
